@use 'mixins' as *;
@use 'variable' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width:480px) {
        width: 100%;
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width:1200px) {
        width: 90%;
        margin: 0 auto;
    }
    @media (max-width:640px) {
        width: 70%;
    }
    @media (max-width:480px) {
        min-width: 350px;
    }
}
.mobile{
    @include show-mobile-only;
}