@use 'mixins' as *;

nav{
    @include flex;
    position: absolute;
    top: 0;
    margin-top: 2rem;
    padding: 0 7rem;
    width: 100%;
    p{ 
        cursor: pointer;
        transition: transform 1s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    @media (max-width:900px) {
        width: 100%;
        padding: 0 20px;
    }
}
.nav-links{
    a img{
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.3);
            opacity: 0.8;
            filter: brightness(0.8);
        }
    }
}